<title>Add movie</title>
<h1>Add movie</h1>
<form method="POST" action="/movies">
<h3>Type the name of the movie that you would like to add to your list below:</h3>
<label for "title">Movie title: <input type="text" name="title"><br>
<input type="submit" value="add">
