<title>Registration</title>
<form method="POST" action='/users'>
<h2>Create your login info!</h2>
<label for="username">Username: <label>
<input type="text" name="username"><br><br>
<label for="email">Email: </label>
<input type="email" name="email"><br><br>
<label for="password">Password: </label>
<input type="password" name="password"><br><br>
<input type="submit" value="Register">
</form>
<br><br>
Already registered? Click here to log in.<br>
<a href="/login">Log In</a>