<title>Movie List Creator</title>
<head>
  <h1>Welcome!</h1>
  <h2>This is a tool that you can use to create your own movie watchlist. Log in or register using one of the links below!</h2>

  <a href="/login">Log In</a>

  <a href="/register">Register</a>

